@charset "utf-8";

/**************************
サイトトップ専用スタイルシート
@mp		2014-10-24			記事の内容を背景白に設定する。

	
**************************/

/*共通の構成*/


.art_wrap{
	background-color	:#f0f0f0;							/*記事を白いので囲む*/
	padding				:3%	;								/*記事と枠との間*/
	margin-bottom		:3%;								/*別の記事との間隔*/
	box-shadow			:3px 3px 3px 1px;					/*記事ボックスの影*/
}


/************************
	スマホ用スタイルシート


*************************/
	

/*********************************************
スマホ用終わり


**********************************************/

/*********************************************
以下タブレット用追加

ヘッダーの題名フォントを大きく


**********************************************/



	
/*********************************************
タブレット用終わり


**********************************************/

/*********************************************
以下大きい画面用追加

前回分の微調整


**********************************************/
