@charset "utf-8";

/**************************
サイトトップ専用スタイルシート
@mp		2014-10-24			記事の内容を背景白に設定する。

	
**************************/

/*共通の構成*/


.art_wrap{
	background-color	:#f0f0f0;							/*記事を白いので囲む*/
	padding				:3%	;								/*記事と枠との間*/
	margin-bottom		:3%;								/*別の記事との間隔*/
	box-shadow			:3px 3px 3px 1px;					/*記事ボックスの影*/
	text-align			:left;
}

.art_wrap p{
							/*記事文が途中でも枠に収まるように折り返す、改行をそのまま表示する*/
/**	text-indent			:10px;								/*記事の初めを下げる*/
	

}


/************************
	スマホ用スタイルシート


*************************/
	

.art_wrap p{
	font-size			:16px;
	
}

.art_wrap li{
	font-size			:14px;
}



/*********************************************
スマホ用終わり


**********************************************/

/*********************************************
以下タブレット用追加

**********************************************/

	@media only screen and (min-width:720px){
.art_wrap{
	text-align			:left;
}

.art_wrap p{
	font-size			:16px;
	
}

.art_wrap li{
	font-size			:14px;
}



}



	
/*********************************************
タブレット用終わり


**********************************************/

/*********************************************
以下大きい画面用追加

前回分の微調整


**********************************************/
@media only screen and (min-width:960px){
	.art_wrap{
		text-align			:left;
	}

	
	.art_wrap p{
		font-size			:20px;
	
	}

	.art_wrap li{
		font-size			:16px;
	}

}