@charset "utf-8";

/**************************
サイトトップ専用スタイルシート
@mp		2014-10-24			記事の内容を背景白に設定する。

	
**************************/

/*各機種共通の構成*/

/*記事単位ごとの設定*/
.kiji_wrap{
	background-color	:#f0f0f0;							/*記事をひとつづつ白いので囲む*/
	padding				:3%	;								/*記事と枠との間*/
	margin-bottom		:3%;								/*別の記事との間隔*/
	box-shadow			:3px 3px 3px 1px;					/*記事ボックスの影*/
}


/*記事の続きを見るボタンのスタイル*/
.morepage{
	text-align			:center;							/*テキストは中心に*/
	border-style		:solid;								/*ボタンの枠線の指定*/
	border-radius		:10px;								/*ボタンを丸くする*/
	box-shadow			: 3px 3px 5px 2px ;					/*ボタン周りの影*/
	background-color	:#ffffff;							/*背景色*/
	color				:#0f0f0f;							/*文字色*/
}


/************************
	スマホ用スタイルシート
*************************/
	

/*********************************************
スマホ用終わり
**********************************************/

/*********************************************
以下タブレット用追加
**********************************************/

	@media only screen and (min-width:720px){

}


/*********************************************
タブレット用終わり
**********************************************/



/*********************************************
以下大きい画面用追加

**********************************************/
@media only screen and (min-width:960px){

}